#MediaPlayer {
  overflow: visible;
}

#MediaPlayer #LoadSaveDialog {
  max-width: unset !important;
  max-height: unset !important;
}

#MediaPlayer > div.body {
  padding: 20px 30px;
  resize: both;
}

#MediaPlayer video {
  width: 100%;
}

#MediaPlayer > div.body div.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

#MediaPlayer > div.body div.controls button {
  border-radius: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 20px;
  padding: 0;
  box-shadow: none;
  min-width: unset;
  border-radius: 50%;
}

#MediaPlayer > div.body div.controls button.forward,
#MediaPlayer > div.body div.controls button.reverse {
  width: 30px;
  height: 30px;
}

#MediaPlayer > div.body div.controls button.stop {
  width: 20px;
  height: 20px;
  font-size: 16px;
}
#MediaPlayer > div.body div.controls div.group {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  gap: 10px;
}

#MediaPlayer > div.body div.controls div.timestamp {
  margin-left: auto;
}

#MediaPlayer > div.body div.bar {
  width: 100%;
  height: 7px;
  background-color: var(--button-glass-bg);
  border-radius: 3.5px;
  border: var(--button-glass-bg) 1px solid;
  overflow: hidden;
  margin: 20px 0;
  margin-top: 10px;
}

#MediaPlayer > div.body div.bar div.inner {
  height: 5px;
  width: var(--w);
  background-color: var(--accent);
  transition: none;
}

#MediaPlayer > div.body div.file {
  display: flex;
  gap: 10px;
  align-items: center;
}

#MediaPlayer > div.body div.file img {
  height: 24px;
}
#MediaPlayer > div.body video {
  display: none;
  margin-bottom: 20px;
}

#MediaPlayer > div.body video.show {
  display: block;
}
